* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body .poppins {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;
}
body .amatic {
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}
body header .greenheader {
  padding: 0 30px;
  background-color: #82ae46;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
body header .greenheader .phonetext {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .greenheader .phonetext i {
  color: white;
}
body header .greenheader .phonetext span {
  color: white;
}
body header .greenheader .emailtext {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .greenheader .emailtext i {
  color: white;
}
body header .greenheader .emailtext span {
  color: white;
}
body header .greenheader .text {
  display: flex;
  gap: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .greenheader .text span {
  color: white;
}
body header .header {
  padding: 20px 0;
  margin: 0 auto;
  width: 80%;
  display: flex;
}
body header .header .boxs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body header .header .boxs .logo h4 {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  line-height: inherit;
  white-space: nowrap;
  color: #82ae46;
  cursor: pointer;
  transition: 0.4s;
}
body header .header .boxs .logo h4:hover {
  color: black;
}
body header .header .boxs .barlogo {
  display: none;
  font-size: 30px;
}
body header .header nav .ul1 {
  display: flex;
  align-items: center;
}
body header .header nav .ul1 li {
  width: 100px;
  display: list-item;
  unicode-bidi: isolate;
}
body header .header nav .ul1 li a {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 11px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body header .header nav .ul1 .hoverli {
  position: relative;
}
body header .header nav .ul1 .hoverli .hoverdiv {
  position: absolute;
  z-index: 111;
  width: 165px;
  height: 170px;
  display: none;
  align-items: end;
  padding-bottom: 10px;
  background-color: white;
}
body header .header nav .ul1 .hoverli .hoverdiv ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}
body header .header nav .ul1 .hoverli .hoverdiv ul li a {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: black;
}
body header .header nav .ul1 .hoverli:hover .hoverdiv {
  display: flex;
}
body header .header nav .ul2 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #000000;
}
body header .header nav .ul2 li {
  display: list-item;
  unicode-bidi: isolate;
}
body header .header nav .ul2 li a {
  color: white;
}
body header .header nav .ul2 .hoverli {
  position: relative;
}
body header .header nav .ul2 .hoverli .hoverdiv {
  position: absolute;
  z-index: 111;
  width: 165px;
  height: 170px;
  display: none;
  align-items: end;
  padding-bottom: 10px;
  background-color: white;
}
body header .header nav .ul2 .hoverli .hoverdiv .ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  background-color: white;
}
body header .header nav .ul2 .hoverli .hoverdiv .ul li a {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: black;
}
body header .header nav .ul2 .hoverli:hover .hoverdiv {
  display: flex;
}
body main .foodsec {
  width: 100%;
  height: 650px;
  position: relative;
}
body main .foodsec .organicfood {
  animation: animation 8s infinite;
  animation-delay: 2s;
  position: absolute;
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/bg_2.jpg.webp);
}
body main .foodsec .organicfood .blackcolor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.237);
}
body main .foodsec .organicfood .blackcolor h2 {
  font-size: 8vw;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
  margin-bottom: 8px;
}
body main .foodsec .organicfood .blackcolor span {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  margin-bottom: 24px;
}
body main .foodsec .organicfood .blackcolor a {
  background-color: #82ae46;
  color: #fff;
  border: 1px solid #82ae46;
  border-radius: 30px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 0.375rem 0.75rem;
  transition: 0.3s;
}
body main .foodsec .organicfood .blackcolor a:hover {
  background-color: transparent;
  color: #82ae46;
}
body main .foodsec .vegestable {
  animation: animation 8s infinite;
  animation-delay: 4s;
  position: absolute;
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/bg_1.jpg.webp);
}
body main .foodsec .vegestable .blackcolor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.237);
}
body main .foodsec .vegestable .blackcolor h2 {
  width: 75%;
  text-align: center;
  font-size: 8vw;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
  margin-bottom: 8px;
}
body main .foodsec .vegestable .blackcolor span {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  margin-bottom: 24px;
}
body main .foodsec .vegestable .blackcolor a {
  background-color: #82ae46;
  color: #fff;
  border: 1px solid #82ae46;
  border-radius: 30px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 0.375rem 0.75rem;
  transition: 0.3s;
}
body main .foodsec .vegestable .blackcolor a:hover {
  background-color: transparent;
  color: #82ae46;
}
body main .boxsection .boxs {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 30px auto;
}
body main .boxsection .boxs .box {
  width: 277px;
  text-align: center;
}
body main .boxsection .boxs .box .logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4b2d6;
  transition: 0.3s;
}
body main .boxsection .boxs .box .logo i {
  padding: 20px 15px;
  border: 1px solid white;
  font-size: 40px;
  border-radius: 50%;
  color: #fff;
}
body main .boxsection .boxs .box h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
  color: #000000;
}
body main .boxsection .boxs .box p {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
}
body main .boxsection .boxs .box:hover .logo {
  background-color: #82ae46;
}
body main .boxsection .boxs .box1 .logo {
  background-color: #dcc698;
}
body main .boxsection .boxs .box1 .logo i {
  padding: 15px 15px;
}
body main .boxsection .boxs .box2 .logo {
  background-color: #a2d1e1;
}
body main .boxsection .boxs .box2 .logo i {
  padding: 15px 15px;
}
body main .boxsection .boxs .box3 .logo {
  background-color: #dcd691;
}
body main .boxsection .boxs .box3 .logo i {
  font-size: 35px;
  padding: 19px 15px;
}
body main .vegetablessec {
  padding: 30px 0;
}
body main .vegetablessec .boxs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main .vegetablessec .boxs .box .inbox {
  display: flex;
  align-items: end;
  width: 350px;
  height: 250px;
  background-size: cover;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/category-1.jpg.webp);
}
body main .vegetablessec .boxs .box .inbox p {
  padding: 10px;
  color: white;
  background-color: #82ae46;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
}
body main .vegetablessec .boxs .box .inbox2 {
  margin-top: 24px;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/category-2.jpg.webp);
}
body main .vegetablessec .boxs .box .inbox3 {
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/category-3.jpg.webp);
}
body main .vegetablessec .boxs .box .inbox4 {
  margin-top: 24px;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/category-4.jpg.webp);
}
body main .vegetablessec .boxs .shopbox {
  text-align: center;
  width: 350px;
  height: 524px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(https://preview.colorlib.com/theme/vegefoods/images/category.jpg.webp);
}
body main .vegetablessec .boxs .shopbox h3 {
  color: #82ae46;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
body main .vegetablessec .boxs .shopbox span {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  display: block;
  margin-bottom: 16px;
}
body main .vegetablessec .boxs .shopbox a {
  background-color: #82ae46;
  color: #fff;
  border: 1px solid #82ae46;
  border-radius: 30px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 6px 12px;
  transition: 0.3s;
  font-family: "Poppins", Arial, sans-serif;
}
body main .vegetablessec .boxs .shopbox a:hover {
  background-color: transparent;
  color: #82ae46;
}
body main .producsec {
  margin: 30px 0;
  text-align: center;
}
body main .producsec .headtext span {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  color: #82ae46;
  line-height: 1.8;
  font-weight: 400;
}
body main .producsec .headtext h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  font-family: "Poppins", Arial, sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
body main .producsec .headtext p {
  margin-bottom: 1rem;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}
body main .producsec .boxss {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main .producsec .boxss .boxx {
  width: 74%;
  gap: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main .producsec .boxss .boxx .inbox {
  cursor: pointer;
  overflow: hidden;
  width: 255px;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body main .producsec .boxss .boxx .inbox .imgbox {
  position: relative;
}
body main .producsec .boxss .boxx .inbox .imgbox img {
  width: 100%;
  transition: 0.4s;
}
body main .producsec .boxss .boxx .inbox .imgbox span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 10px;
  color: #fff;
  font-weight: 300;
  background: #82ae46;
  font-size: 12px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
}
body main .producsec .boxss .boxx .inbox p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins", Arial, sans-serif;
}
body main .producsec .boxss .boxx .inbox .text .money {
  display: block;
  align-items: center;
}
body main .producsec .boxss .boxx .inbox .text .money p {
  padding: 10px 0;
  color: #82ae46;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  animation: animation1 1s forwards;
}
body main .producsec .boxss .boxx .inbox .text .money p span {
  text-decoration: line-through;
  color: #b3b3b3;
}
body main .producsec .boxss .boxx .inbox .text .boxs {
  display: none;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
body main .producsec .boxss .boxx .inbox .text .boxs .box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #82ae46;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body main .producsec .boxss .boxx .inbox .text .boxs .box i {
  font-size: 15px;
}
body main .producsec .boxss .boxx .inbox:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
}
body main .producsec .boxss .boxx .inbox:hover .imgbox img {
  transform: scale(1.1);
}
body main .producsec .boxss .boxx .inbox:hover .text .money {
  display: none;
}
body main .producsec .boxss .boxx .inbox:hover .text .boxs {
  display: flex;
  animation: animation1 1s forwards;
}
body main .subcribesec {
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f2;
  position: relative;
}
body main .subcribesec .box {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main .subcribesec .box .text h2 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
}
body main .subcribesec .box .text p {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}
body main .subcribesec .box form {
  position: relative;
}
body main .subcribesec .box form input {
  padding: 6px 12px;
  width: 540px;
  height: 52px;
  border: none;
  outline: none;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}
body main .subcribesec .box form button {
  position: absolute;
  right: 0;
  background-color: #82ae46;
  width: 92px;
  height: 52px;
  border: none;
  color: white;
  cursor: pointer;
}
body main .subcribesec .arrowbox {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: auto;
  bottom: -30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #82ae46;
  cursor: pointer;
}
body main .subcribesec .arrowbox i {
  color: white;
  animation: animation2 1.5s infinite;
  position: absolute;
}
body footer {
  margin-top: 30px;
  padding-top: 30px;
}
body footer .footer .boxs {
  display: flex;
  gap: 30px;
  width: 72%;
  margin: 0 auto;
  flex-wrap: wrap;
}
body footer .footer .boxs .vegefoodbox {
  width: 223px;
  overflow: hidden;
}
body footer .footer .boxs .vegefoodbox .text h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .vegefoodbox .text p {
  margin-bottom: 1rem;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}
body footer .footer .boxs .vegefoodbox .logoboxs {
  display: flex;
  gap: 10px;
  margin-top: 18px;
  padding: 30px 0 10px;
}
body footer .footer .boxs .vegefoodbox .logoboxs .logobox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.02);
}
body footer .footer .boxs .vegefoodbox .logoboxs .logobox i {
  font-size: 26px;
}
body footer .footer .boxs .menubox {
  width: 176px;
  margin: 0 30px;
  padding: 0 0 24px 30px;
}
body footer .footer .boxs .menubox h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .menubox ul li {
  padding: 8px 0;
  line-height: 1.8;
  font-weight: 400;
}
body footer .footer .boxs .menubox ul li a {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .helpbox {
  margin-right: 30px;
  padding-right: 30px;
}
body footer .footer .boxs .helpbox h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .helpbox .inbox {
  display: flex;
}
body footer .footer .boxs .helpbox .inbox ul li {
  padding: 8px 0;
  line-height: 1.8;
  font-weight: 400;
}
body footer .footer .boxs .helpbox .inbox ul li a {
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .helpbox .inbox .faqbox {
  margin-left: 20px;
  padding-top: 8px;
}
body footer .footer .boxs .helpbox .inbox .faqbox p {
  padding: 8px 0;
}
body footer .footer .boxs .havebox {
  width: 210px;
  margin-left: 30px;
  padding-left: 30px;
}
body footer .footer .boxs .havebox h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
}
body footer .footer .boxs .havebox .text {
  display: flex;
  margin-bottom: 20px;
}
body footer .footer .boxs .havebox .text i {
  margin-right: 20px;
}
body footer .End {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 30px 0;
}
body footer .End p {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}
body footer .End p span {
  color: #82ae46;
  cursor: pointer;
}

.nav {
  display: block !important;
}

@keyframes animation {
  from {
    z-index: 1;
  }
  to {
    z-index: 11;
  }
}
@keyframes animation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation2 {
  0% {
    top: 35px;
  }
  100% {
    top: 10px;
  }
}
@media (max-width: 992px) {
  body header .header {
    flex-direction: column;
  }
  body header .header nav {
    display: none;
  }
  body header .header .boxs .barlogo {
    display: block;
  }
  body main .subcribesec .box form input {
    width: 500px;
  }
}
@media (max-width: 600px) {
  body main .boxsection .boxs .box, body main .vegetablessec .boxs .shopbox, body main .producsec .boxss .boxx .inbox, body main .subcribesec .box form input {
    width: 100%;
  }
  body main .vegetablessec .boxs .box .inbox {
    width: 300px;
  }
}